.controller {
  position: absolute;
  display: flex;
  justify-content: space-between;

  width: 100%;
  bottom: 160px;
  left: 0;
}

.controller__leftBtn {
  width: 30px;
  height: 60px;

  border: 0;
  cursor: pointer;
}

.controller__leftBtn:disabled {
  cursor: not-allowed;
}

.controller__rightBtn {
  background: url("../../../assets/right-button.svg");
  background-size: 30px 60px;

  width: 30px;
  height: 60px;

  border: 0;
  cursor: pointer;
}

.controller__rightBtn:disabled {
  cursor: not-allowed;
}
