* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.slider {
  display: flex;
  gap: 20px;
  width: 620px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  list-style: none;
  width: 300px;
  height: 400px;
  transition: transform 1s;
}

img {
  width: 300px;
  height: 400px;
}

.slide__link {
  display: block;
}

.slider__btn {
  position: absolute;
  top: 50%;
  border: none;
  background: rgba(45, 45, 45, 0.8);
  font-family: inherit;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 30px;
  cursor: pointer;
}

.slider__btn:hover {
  background-color: black;
}

.slider__btn--left {
  left: 0;
  transform: translate(-50%, -50%);
  background: url("https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-left.svg");
}

.slider__btn--right {
  right: 0;
  transform: translate(50%, -50%);
  background: url("https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-right.svg");
}

.mris__desc {
  position: absolute;
  left: 0;
  top: 0;
}
