* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

button {
  background-color: inherit;
  border: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
