*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 4px;
}

body {
  margin: 0;

  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
