@import url("./reset.css");
@import url("./default-button.css");

.spin-input-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: max-content;
  margin: 0 auto;
}

.spin-input-title {
  font-weight: bold;
}

.label-container {
  display: flex;
  align-items: center;
}

.spin-label {
  font-weight: bold;
}

.round-button-icon {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid black;
}

.tip-button-icon {
  border-radius: 50%;
  border: 2px solid gray;

  color: gray;
  font-weight: bold;
}

.spin-input {
  border: none;
}

.input-container {
  display: flex;
}

.spin-button {
  font-weight: bolder;
}

.spin-button .round-button-icon {
  border: 2px solid lightgray;
  font-size: 1rem;
}

#spin-input-value {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
  width: 30px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
}

#spin-input-status {
  opacity: 0;
  height: 0;
  width: 0;
}
