.layout {
  display: flex;
  flex-direction: column;
}

.label-box {
  display: flex;
  align-items: center;
}

.label {
  font-size: 1.8rem;
  font-weight: 700;
}

.tooltip-box {
  position: relative;
}

.tooltip-button {
  background: none;
  color: #767676;
  border: none;
  min-width: 3rem;
  height: 3rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-button > svg {
  width: auto;
  pointer-events: none;
}

.tooltip {
  visibility: visible;
  z-index: 1000;
  position: absolute;
  padding: 1rem;
  background: white;
  border: 1px solid;
  width: 10rem;
}

.tooltip[aria-hidden] {
  visibility: hidden;
}

.control-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.spin-button {
  cursor: pointer;
  background: none;
  border: 1px solid #d8dbe0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.spin-button:disabled {
  cursor: default;
  border-color: #f4f4f6;
}

.spin-button > svg {
  pointer-events: none;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  width: 3.8rem;
  height: 3.8rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #00256c;
  border-radius: 0;
  transition: border 0.2s 0.3s, color 0.2s 0.3s, box-shadow 0.2s 0.3s;
}

.input:hover,
.input:focus {
  border-bottom-color: transparent;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px #0064de;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}
