.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.tooltip {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  width: 20px;
  text-align: center;
}
