$header-height: 64px;

.header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0 1rem;

  a {
    margin-right: auto;
  }

  h1 {
    font-size: 16px;
    margin-right: auto;
  }
}

.contents {
  width: 100%;
  min-height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
