#snackbar {
  visibility: hidden;
  min-width: 250px;
  transform: translate(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 30px;

  &.show {
    visibility: visible;
  }
}
