/* body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1px 5px;

  background-color: #ffffff;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
}

label,
output {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

#app {
  width: 700px;
  min-height: 700px;

  margin: 0 auto;

  display: flex;
  justify-content: center;

  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#app section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#select-people-input,
#select-people-output {
  width: 100px;

  text-align: center;
}

#select-people-output:not(.hidden) {
  display: inline-block;
}

.hidden {
  display: none;
}

.hidden-text {
  position: absolute;

  text-indent: -9999px;
} */

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

#app {
  position: relative;
}

#carousel-root {
  width: 800px;

  display: flex;

  overflow: hidden;
}

.carousel-item {
  position: relative;

  box-sizing: border-box;

  display: flex;

  box-sizing: border-box;
}

.carousel-item img {
  width: 200px;
  height: 200px;
}

.carousel-item .carousel-description {
  position: absolute;

  top: 20px;
  left: 20px;
}

.carousel-description h2 {
  font-size: 1.1rem;
  font-weight: bold;

  color: black;
}

.carousel-description h3 {
  font-size: 1rem;
  font-weight: bold;

  color: black;
}

.carousel-description div {
  font-size: 0.8rem;
  font-weight: bold;

  color: black;
}

.carousel-button {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  padding: 10px;

  cursor: pointer;

  opacity: 0.8;
}

.carousel-button#carousel-right {
  right: 0;
}

.carousel-button#carousel-left {
  left: 0;
}

.sr-only {
  display: hidden;
  text-indent: -9999px;
}
