.flightBooking {
  background-image: url('./assets/booking-bg.png');
  padding: 26px 24px;
}

.form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.passengerLabel {
  display: flex;
  align-items: center;
}
.helpContainer {
  position: relative;
}
.helpIconButton {
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.helpIcon {
  width: 16px;
  height: 16px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.passengerCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.passengerCount span {
  font-weight: 700;
}

.counter {
  display: flex;
  align-items: center;
}

.counter button {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span {
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 16px;
}

.searchButton {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.statusMessage {
  margin: auto 0;
  height: 18px;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
