.visuallyHidden {
  position: absolute; /* 요소를 문서 흐름에서 제거하여 다른 요소에 영향을 미치지 않게 한다. */
  width: 1px; /* 요소의 크기를 최소화하여 화면에 보이지 않게 한다. */
  height: 1px; /* 요소의 크기를 최소화하여 화면에 보이지 않게 한다. */
  clip: rect(0 0 0 0); /*요소의 렌더링 영역을 0x0으로 잘라서 보이지 않게 한다. */
  clip-path: inset(50%); /*요소의 렌더링 영역을 0x0으로 잘라서 보이지 않게 한다. */
  overflow: hidden; /* 요소의 내용이 보이지 않도록 한다. */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 하여, 스크린 리더가 읽는 데 문제가 없도록 한다. */
}
