.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  font-size: 16px;
}

.skipLink:focus {
  top: 10px;
}

.focused {
  top: 10px;
}
