.skipLink {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  z-index: 100;
  transition: top 0.3s, padding 0.3s;
}

.skipLink:focus {
  top: 0;
  padding: 18px 16px;
}
