.round-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50% 50%;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.round-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.adult-amount {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
  border: 0;
  border-bottom: 1px solid #333;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.adult-amount-hidden {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
