.travelSection {
  position: relative;
  padding-bottom: 32px;
}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 0 24px;
  list-style: none;
}

.card {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 0.5);
  overflow: hidden;
  display: none;
  width: 100%;
  height: 246px;
  padding: 0px;
  color: black;
  text-decoration: none;
}

.card:focus,
.card:active {
  color: black;
  outline: none;
}

.cardActive {
  display: block;
}

.cardImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.cardContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 26%, rgba(255, 255, 255, 0) 100%);
  padding: 24px 16px;
  text-align: left;
}

.cardTitle {
  margin-bottom: 24px;
}

.cardType,
.cardPrice {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 8px;
}

.navButton {
  position: absolute;
  top: 25%;
  background-color: rgb(44, 44, 44);
  color: black;
  border: none;
  width: 32px;
  height: 64px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.navButtonPrev {
  left: 0;
  border-radius: 0 40px 40px 0;
  padding-right: 10px;
}

.navButtonNext {
  right: 0;
  border-radius: 40px 0 0 40px;
  padding-left: 10px;
}

.navButtonIcon {
  width: 24px;
  height: 24px;
}
