.spin-button__label {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.spin-button__wrapper {
  display: flex;
  gap: 1rem;
}

.spin-button__input {
  width: 2rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  box-sizing: border-box;
}

.spin-button__button {
  border: none;
  border-radius: 50%;
  background: none;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1000%;
  cursor: pointer;
}

.spin-button__button.add {
  background: url(../../assets/svg/add.svg) center;
}

.spin-button__button.add[aria-disabled=true] {
  background: url(../../assets/svg/add--disabled.svg) center;
  cursor: not-allowed;
}

.spin-button__button.sub {
  background: url(../../assets/svg/sub.svg) center;
}

.spin-button__button.sub[aria-disabled=true] {
  background: url(../../assets/svg/sub--disabled.svg) center;
  cursor: not-allowed;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
