.layout {
  position: relative;
  width: 1000px;
}

.box {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;

  transition: ease 1s;
  scrollbar-width: none;
}

.box::-webkit-scrollbar {
  display: none;
}

.carousel-button {
  width: 25px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 10;
  cursor: pointer;
}

.left-button {
  border-radius: 0 25px 25px 0;
  left: 0;
}

.right-button {
  border-radius: 25px 0 0 25px;
  right: 0;
}

.display-none {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
