.carousel-section {
  position: relative;
  max-width: 600px;
}

.card-list {
  display: flex;
  column-gap: 8px;

  margin: 0;
  padding: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.carousel-button {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 30px;
  height: 60px;

  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;

  transition: border 0.2s ease;
}
.carousel-button.left {
  left: 0;

  border-radius: 0 30px 30px 0;
}
.carousel-button.right {
  right: 0;

  border-radius: 30px 0 0 30px;
}
.carousel-button:hover,
.carousel-button:active {
  border: 1px solid darkblue;
}
.carousel-button:disabled {
  border: none;
}

.card-link {
  display: block;

  width: fit-content;

  color: black;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}

.card-link:hover {
  border: 1px solid darkblue;
}

.card-link:visited {
  color: black;
}

.card {
  position: relative;
}

.card-description {
  position: absolute;
  top: 16px;
  left: 16px;
}

.card-description > .location {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: bold;
}

.card-description > .seat {
  font-size: 12px;
}

.card-description > .price {
  font-size: 14px;
  font-weight: bold;
}

.card > .card-image {
  width: 300px;
  height: 385px;

  vertical-align: top;
}
