.layout {
  position: relative;
  max-width: 1100px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list > li {
  list-style-type: none;
  width: calc((100% - 0.8rem) / 2);
}

@media (min-width: 1060px) {
  .list > li {
    width: calc((100% - 12rem) / 5);
    min-width: 232px;
    max-width: 232px;
  }
}

.button {
  position: absolute;
  top: calc(50%);
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  transition: all ease-out 100ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.left-button {
  left: 0.5rem;
}

.right-button {
  right: 0.5rem;
}
