.carousel {
  position: relative;
  width: 600px;
}

.carousel__list {
  display: flex;
  list-style: none;

  gap: 8px;
  max-width: 100%;
  overflow-x: hidden;
  padding-inline-start: 0;
}

.carousel__item {
  display: list-item;
}
