.list-item {
  width: 100%;
  flex-shrink: 0;
}

.list-item-link {
  position: relative;
  display: block;
  border: 1px solid transparent;
}

.list-item-image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.list-description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 15rem;
  overflow: hidden;
  padding: 1.6rem 1.8rem;
}

.list-location {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-seat {
  font-size: 1.2rem;
  color: #000;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-price {
  overflow: hidden;
  width: 100%;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
}
