* {
  box-sizing: border-box;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.item-container {
  position: relative;
  width: 500px;
  overflow: hidden;
}

.item-list {
  display: flex;
  gap: 40px;
}

.item {
  position: relative;
}

.item-link {
  display: block;
}

.item-image {
  width: 230px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.content-wrapper {
  position: absolute;
  top: 0px;
  padding: 20px 22px;
}

.location {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.seat {
  margin-bottom: 4px;
}

.price {
  color: #11277b;
  font-weight: bold;
  font-size: 18px;
}

.button {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 0;
  background: url("https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-left.svg")
    no-repeat center top;
  background-size: 30px 60px;
}

.next-button {
  right: 0;
  background: url("https://www.koreanair.com/etc.clientlibs/koreanair/clientlibs/clientlib-base/resources/images/mris__button-right.svg")
    no-repeat right top;
  background-size: 30px 60px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

@media (max-width: 370px) {
  .item-container {
    width: 370px;
  }

  .item-list {
    gap: 20px;
  }

  .item-image {
    width: 175px;
    height: 240px;
  }
}
