input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
  border: 2px solid gray;
  cursor: pointer;
}

.passenger-title {
  display: flex;
  align-items: center;
}

.tooltip {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  font-size: 16px;
  color: gray;
}

#passenger-amount-input {
  margin: 0 15px;
  border: none;
  border-bottom: 1px solid black;
  width: 35px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.decrement-button,
.increment-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.tooltip-content {
  padding: 10px 14px;
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
