.container {
  display: flex;
  justify-content: center;
}

.menu {
  margin: 0 10px;
  padding: 14px 24px;
  border-radius: 4px;
  background-color: darkorange;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.menu:hover {
  opacity: 0.7;
}
