.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#skip-nav {
  position: relative;
  z-index: 1000;
}
#skip-nav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 200px;
  background: #333;
  text-align: center;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
}
#skip-nav a:focus {
  top: 0;
}
