.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content-link {
  position: absolute;
  left: -9999px;
  top: 0;
  padding: 1em;
  color: white;
  background-color: #000;
  opacity: 0;
  z-index: 100;
}

.skip-to-content-link:focus {
  left: 0;
  transform: translateY(0);
  opacity: 1;
}
