.app {
  position: relative;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;

  margin: 0;
  padding: 0;
  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
