.app {
  font-family: Arial, sans-serif;
  max-width: 480px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
}

.skipToContentButton {
  position: absolute;
  background-color: #158dd2;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;

  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.skipToContentButton:focus {
  opacity: 1;
}

.skipToContentButton:not(:focus) {
  opacity: 0;
}

.header {
  padding: 48px 24px 24px 24px;
}

.title {
  margin-bottom: 16px;
}

.main {
  flex: 1;
}

.flightBooking {
  background-image: url('./assets/booking-bg.png');
  padding: 26px 24px;
}

.travelSection {
  background-color: rgb(246, 246, 246);
}

.footer {
  padding: 32px;
  background-color: white;
  text-align: center;
}
