.app {
  font-family: Arial, sans-serif;
  max-width: 480px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
}

.header {
  padding: 48px 24px 24px 24px;
}

.title {
  margin-bottom: 16px;
}

.main {
  flex: 1;
}

.flightBooking {
  background-image: url('./assets/booking-bg.png');
  padding: 26px 24px;
}

.travelSection {
  background-color: rgb(246, 246, 246);
}

.travelTitle {
  font-size: 18px;
  padding: 24px;
}

.footer {
  padding: 32px;
  background-color: white;
  text-align: center;
}

.skipTo {
  position: absolute;
  top: -99px;
  left: 0;
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  z-index: 999;
}

.skipTo:hover,
.skipTo:focus,
.skipTo:active {
  display: block;
  top: 0;
}
