.App {
  padding: 1rem;
}

.App h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.passenger__controller-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 6.25rem;
}

.passenger__label {
  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: 700;
}

.question-mark-button {
  width: 2.25rem;
  height: 2.25rem;
  background-size: 24px 24px;
  background: url(./images/ico-opener.svg) no-repeat 50% 50%;

  font-size: 0;
}

.passenger__control {
  display: flex;
  align-items: center;
  gap: 14px;
}

.passenger__control-input {
  width: 3rem;
  height: 3rem;

  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #00256c;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.passenger__control-sub,
.passenger__control-add {
  width: 2.75rem;
  height: 2.75rem;

  font-size: 0;
}

.passenger__control-sub[aria-disabled="true"],
.passenger__control-add[aria-disabled="true"] {
  cursor: not-allowed;
}

.passenger__control-sub {
  left: 0;
  background: url(./images/passenger__control-sub.svg) 50% 50%/32px 32px
    no-repeat;
}

.passenger__control-add {
  right: 0;
  background: url(./images/passenger__control-add.svg) 50% 50%/32px 32px
    no-repeat;
}

.tooltip {
  display: none;
  position: absolute;

  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.25rem;

  background-color: white;
}

.tooltip-trigger:hover .tooltip {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
