html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;

  border: 0;
  font-size: 100%;
  font: inherit;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
}

ol,
ul {
  list-style: none;
}
