body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
}

.header .tooltip {
  cursor: pointer;
  width: 17px;
  height: 17px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid gray;

  background-color: white;
}

.body {
  display: flex;
  align-items: center;
  gap: 8px;
}

.body input {
  width: 23px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #000;

  background: transparent;
}

.body button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid gray;

  color: #000;
  background-color: white;
}

.body .polite_text {
  overflow: hidden;
  width: 1px;
  height: 1px;
}
