.heading-1-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-2-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-3-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.body-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.button-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  tab-index: 0;
}
