label {
  font-size: 30px;
}

input {
  width: 20px;

  padding: 12px;

  border: none;
  border-bottom: 1px solid black;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flexBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter {
  padding: 20px;
}

.counter__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border: 1px solid #dee2e6;
  border-radius: 50%;
  cursor: pointer;

  font-size: 20px;
  line-height: 30px;

  background-color: white;
}

.passenger__item {
  align-items: flex-end;

  margin-bottom: 16px;

  font-weight: 600;
}
